/node_modules
/automation/node_modules
/automation/*
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.DS_Store
worker.log
storage/records.csv
public/adminer-4.3.1asdddddsasdasd-2556553r3f.php
